* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #2B2D42;
    background-color: #FFFDF9;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
}

/* Headings, Links, Images */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 300%;
    text-align: center;
}

h2 {
    font-size: 200%;
    margin-bottom: 20px;
    margin-top: 10px;
}

h3 {
    font-size: 150%;
    margin-bottom: 10px;
    margin-top: 10px;
}

a,
a:visited {
    color: #CC3838;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #2B2D42;
    text-decoration: underline;
    outline: none;
}

a.current {
    color: #2B2D42;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Header Section (title & nav) */

header {
    box-shadow: 0 4px 6px -1px rgba(43, 45, 66, 0.05);
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.title h2 {
    margin-bottom: 0;
}

.soda {
    width: 60px;
    height: auto;
}

.navbar {
    padding: 6px;
    margin-bottom: 16px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: auto;
    flex-wrap: wrap;
}

.navbar a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover,
a:focus {
    text-decoration: underline;
}

.navbar a.current {
    text-decoration: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#checkbox-toggle {
    display: none;
}

/* Main Content (sec1, sec2, sec3) */

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 16px;
    grid-template-areas:
        "sec1 sec1 sec1"
        "sec2 sec2 sec3"
        "sec2 sec2 sec3"
}

.sec1 {
    grid-area: sec1;
    margin-bottom: 20px;
}

.sec2 {
    grid-area: sec2;
    background-color: #FFF0F0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.sec2 a,
.sec2 a:visited {
    color: #2B2D42;
    text-decoration: underline;
}

.sec2 a:hover,
.sec2 a:focus {
    color: #D93838;
    text-decoration: underline;
}

.sec2 dl,
ul {
    margin-left: 30px;
}

.sec2 dl dt {
    font-weight: bold;
}

.sec2 dl dd,
ul {
    margin-bottom: 20px;
}

.sec2 ol {
    margin-left: 50px;
}

.sec2 ol li::marker {
    color: #D93838;
    font-weight: bold;
    font-size: 1.2rem;
}

.sec3 {
    grid-area: sec3;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    width: auto;
    flex-wrap: wrap;
}

.sec3 h2 {
    width: 100%;
    text-align: center;
}

.sec3 div {
    background-color: #FFD166;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 90%;
    text-align: center;
}

.sec3 ul {
    list-style: none;
    margin: 0;
}

/* Form */

label {
    display: block;
    margin-bottom: .25em;
}

input,
select,
textarea {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    padding: .4em;
    margin-bottom: .5em;
}

textarea {
    height: 5em;
}

button {
    font-size: inherit;
    font-weight: bold;
    width: 8em;
    padding: .5em;
    color: #FFFFFF;
    background-color: #D93838;
}

button:hover {
    color: #FFFFFF;
    background-color: #B32525;
}

input,
select,
textarea,
button {
    border-radius: 5px;
}

/* Footer Section */

footer {
    background-color: #2B2D42;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    font-size: 75%;
}

/* Transform for screens smaller than 760px */

@media only screen and (max-width: 760px) {
    header {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .title {
        width: auto;
    }

    .navbar {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #FFFDF9;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar a {
        display: block;
        text-align: center;
        padding: .25em 1em;
        margin: .25em;
    }

    .navbar ul {
        display: none;
        align-items: center;
        width: 100%;
    }

    .navbar li {
        width: 100%;
        text-align: center;
    }

    .menu {
        width: max-content;
        min-width: 200px;
        position: fixed;
        left: auto;
        right: 0;
        display: none;
        background-color: #FFFDF9;
        border: 1px solid #2B2D42;
    }

    .menu-btn {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        padding: 8px 12px;
        text-align: center;
        color: #2B2D42;
        width: auto;
        cursor: pointer;
    }

    .menu-btn::after {
        content: "\2630";
        font-size: 150%;
    }

    #checkbox-toggle:checked~.menu {
        display: block;
    }

    #checkbox-toggle:checked~.menu-btn::after {
        content: "\2716";
    }

    h2,
    h3 {
        text-align: center;
    }

    h1 {
        font-size: 200%;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 150%;
    }

    h3 {
        font-size: 125%;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-areas:
            "sec1"
            "sec2"
            "sec3"
    }

    .sec2 ol,
    ul {
        margin-left: 20px;
    }

    .sec2 dl {
        margin-left: 0;
    }

    .sec3 div {
        margin: 0 0 20px 0;
    }

    .sec3 img {
        display: none;
    }
}